<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>SMI后台管理</title>
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="stylesheet" href="/static/layui-v2.9.18/css/layui.css" media="all" />
  <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all" />
</head>
  <body>
    <div class="layui-fluid">
      <div class="layui-row layui-col-space15">欢迎使用</div>
    </div>

    <script type="text/javascript" src="/static/layui-v2.9.18/layui.js"></script>
    <script>
      layui
        .config({
          base: "/static/layuiadmin/", //静态资源所在路径
        })
        .extend({
          index: "lib/index", //主入口模块
        })
        .use(["index", "console", "sample"]);
    </script>
  </body>
</html>
